.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.column {
  display: inline-block;
  padding: 0 15px;
  width: 33%;
  vertical-align: top;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item caption {
  padding: 100px;
}

.edit_user img {
  width: 50px; 
  margin: 10px;
}